### Node ###
# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/
sessions/

# TypeScript v1 declaration files
typings/
.DS_Store

# Optional npm cache directory
.npm

# dotenv environment variables file
.env
.env.test

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.idea


