
<div id="predictions" class="conceptBox">
        <img id="img_preview1" src='{{url}}' />
        <br/>
    </div>
<div class="container-result">
    <ul class="outputs">
        {{#each result}}
        <li class="result-input">
            <span class="-result-name">Concept: <div id="text">{{this.name}}</div></span><br>
            <span class="result-value">probability: <div id="text">{{this.value}}</div></span>
        </li><br>
        {{/each}}
    </ul>
</div>

